@use "base";
@use "components";

* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .animation {
    .foofest {
      position: absolute;
      z-index: 100;
      top: 20rem;
      left: 8rem;
    }
  }

  .text {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#lineup {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .acts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
}
