@use "base";
@use "components";

* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .animation {
    .foofest {
      position: absolute;
      z-index: 100;
      top: 20rem;
      left: 8rem;
    }
  }

  .text {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#lineup {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .acts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
}

#ticket {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
}

.has-bg {
  background: var(--stroke-color);
  padding: 40px 0 60px 0;
  margin-top: 20px;
}

.menu a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.4;
  overflow: hidden;
}

.has-bg a {
  color: #1bf2f2;
  -webkit-text-stroke: 0;
}

.menu .outer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #1bf2f2;
  transform: translateX(-100%);
}

.menu .inner {
  display: inline-block;
  transform: translateX(100%);
}

.menu a .outer,
.menu a .inner {
  transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}

.menu a:hover .outer,
.menu a:hover .inner {
  transform: none;
}
