#animation_background {
  #app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .wrapper {
      position: absolute;
      // display: flex;
      // justify-content: center;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }

    #app_frontpage {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
      height: 90vh;
      margin-top: 10vh;
    }

    #app_schedule {
      top: 100vh;

      .schedule-wrapper {
        display: grid;
        grid-template-rows: 10vh auto 10vh;
        grid-template-columns: 15vw auto;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: saturate(180%) blur(10px);

        .scenes {
          background-color: black;
          grid-column: 1/2;
          grid-row: 2/3;
          height: 7vh;
          width: 80vh;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: -18.5rem;
          margin-top: -18.5rem;
          margin-top: -17.8rem;
          margin-top: 18.5rem;
          overflow: hidden;
          transform: rotate(270deg);
        }

        .schedule {
          grid-column: 2/3;
          grid-row: 2/3;
          overflow: hidden;
          display: grid;

          .lines {
            position: relative;
            left: 0%;
            top: 2%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .line {
              width: 200vw;
              border-top: 1px solid rgba(255, 255, 255, 0.456);
            }
          }

          .schedule_content {
            position: absolute;
            width: 200vw;
            height: 80vh;
            overflow-x: scroll;
            overflow-y: hidden;

            .time {
              display: flex;
              gap: 16rem;
              margin-bottom: 2rem;
            }

            .acts {
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              div {
                display: flex;
                gap: 2rem;
                height: 8rem;
                width: 200vw;

                .time_slot {
                  font-family: azo-sans-web, sans-serif;
                  font-weight: 400;
                  font-style: normal;
                  font-size: 1rem;
                }
              }

              // .jotunheim {
              //   display: flex;
              //   align-items: center;
              //   width: 16rem;

              //   // div {
              //   //   display: flex;
              //   //   align-items: center;
              //   //   justify-content: center;
              //   //   height: 5rem;
              //   //   width: 16rem;
              //   //   background-color: #2104d980;
              //   // }
              // }

              // .midgard {
              //   display: flex;
              //   align-items: center;

              //   div {
              //     display: flex;
              //     align-items: center;
              //     justify-content: center;
              //     height: 5rem;
              //     width: 16rem;
              //     background-color: #7c038c80;
              //   }
              // }

              // .vanaheim {
              //   display: flex;
              //   align-items: center;

              //   div {
              //     display: flex;
              //     align-items: center;
              //     justify-content: center;
              //     height: 5rem;
              //     width: 16rem;
              //     background-color: #ff006a80;
              //   }
              // }
            }
          }
        }

        .menu {
          position: absolute;
          bottom: 0;
          grid-row: 3/4;
          grid-column: 1/3;
          display: flex;
          background-color: black;

          div {
            width: 100vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    #app_program {
      left: 0%;
      top: 200%;
      position: absolute;

      .background {
        position: relative;
        width: 100%;
        height: 884px;
        overflow: hidden;

        background: inherit;

        #blur {
          width: 110vw;
          height: 110vh;
          overflow: hidden;
          background: rgba(0, 0, 0, 0.8);
          backdrop-filter: saturate(180%) blur(10px);
        }
      }

      .program_wrapper {
        position: absolute;
        top: 0rem;
        left: 0rem;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10vh 5vh 85vh;
        overflow: hidden;

        .wrap {
          grid-row: 1/2;
        }

        .searchbar {
          grid-row: 2/3;

          input {
            width: 80vw;
            height: 5vh;
            background-color: rgba(255, 255, 255, 0.613);
            margin: 0;
            border: none;
          }
        }

        .elementcontainer {
          grid-row: 3/4;
          overflow-y: scroll;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  #animation_background {
    #app {
      .wrapper {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
      }

      #app_frontpage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
      }

      #app_schedule {
        .background {
          width: 90vw;
          height: 90vh;
          margin-top: 2rem;
        }

        .schedule-wrapper {
          width: 90vw;
          height: 90vh;
          display: grid;
          grid-template-columns: 25vw 25vw 25vw 14vw;
          grid-template-rows: 16vh 74vh;

          .scenes {
            background-color: transparent;
            width: 70vw;
            height: auto;
            grid-column: 1/4;
            grid-row: 1/2;
            display: flex;
            flex-direction: unset;
            align-items: center;

            h2 {
              transform: none;
              margin-left: 10rem;
            }
          }

          .schedule {
            grid-column: 1/4;
            grid-row: 2/3;
            overflow-y: scroll;
            overflow-x: hidden;

            .lines {
              top: 0%;
              width: auto;
              height: 210vh;
              gap: 1.8rem;

              .line {
                width: auto;
              }
            }

            .acts {
              // top: -48.5vh;
              display: grid;
              grid-template-columns: 4vw 22vw 22vw 22vw;

              div {
                flex-direction: column;
              }

              .time {
                gap: 5rem;

                div {
                  width: 4rem;
                  display: flex;
                  align-items: center;
                }
              }

              .jotunheim {
                gap: 5rem;
              }

              .midgard {
                gap: 5rem;
              }

              .vanaheim {
                gap: 5rem;
              }
            }
          }

          .menu {
            position: unset;
            grid-column: 4/5;
            grid-row: 1/3;
            width: 20vw;
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-top: 8rem;
            gap: 1.5rem;

            div {
              justify-content: flex-start;
              width: 100%;
              height: auto;
            }
          }
        }
      }

      #app_program {
        .background {
          width: 90vw;
          height: 90vh;
          margin-top: 2rem;
        }

        .program_wrapper {
          width: 90vw;
          height: 90vh;
          display: grid;
          grid-template-rows: 10vh 5vh 75vh;
        }
      }
    }
  }
}
