.active_program {
  transform: translate(-50vw, -100vh);
  transition: all 1s ease-in;
}

.active_ticket {
  transform: translate(-100vw, -100vh);
  transition: all 1s ease-in;
}
.active_left {
  transform: translateX(-100vw);
  transition: all 1s ease-in;
}

.active_left_desktop {
  transform: translateX(-100vw);
  transition: all 1s ease-in;
}

.active_up {
  transform: translateY(-100vh);
  transition: all 1s ease-in;
}

.active {
  transform: translate(-100vw, -100vh);
  transition: all 1s ease-in;
}

.ticket_up {
  transform: translateY(-200vh);
  transition: all 1s ease-in;
}

.ticket_up_2 {
  transform: translate(-100vw, -200vh);
  transition: all 1s ease-in;
}
