header {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  img {
    width: 3rem;
    margin: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 1000px) {
  header {
    div {
      flex-direction: row;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
