header {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;

  a {
    font-size: 1rem;
    margin-left: 2rem;
  }
  #app_cta {
    font-weight: 500;
  }
}
