#animation_background {
  #index {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .wrapper {
      position: absolute;
      width: 100vw;
      height: 100vh;
    }

    #frontpage {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      margin-top: 5vh;
      justify-content: center;
      height: 90vh;
      overflow: hidden;

      .front_buttons {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }
    }

    #contact_page {
      height: 90vh;
      width: 100vw;
      left: -100%;
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: saturate(180%) blur(10px);

      #test {
        width: 100vw;
        display: flex;
        gap: 3rem;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-direction: column;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        div {
          margin-top: 2rem;
          grid-column: 2/3;
        }

        #news_letter_signup {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        #new_letter_email {
          border-right: solid white;
          background-color: transparent;
          width: 25vw;
          height: 8vh;
          margin: 0;
          padding: 0;
        }

        input {
          background-color: transparent;
          border: none;
          height: 8vh;
          width: 25vw;
        }
        button {
          border-radius: 0;
          height: 8vh;
          background-color: transparent;

          margin: 0;
          padding: 0;
        }
        #news_letter_input {
          margin: 1.5rem 0;
          width: 40vw;
          border: solid white;
          display: flex;
        }
      }
    }

    #program {
      top: 100vh;
      width: 200vw;
      height: 90vh;
      margin-top: 10vh;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: saturate(180%) blur(10px);
      display: grid;
      grid-template-columns: 100vw 100vw;

      .pheading_wrapper {
        display: none;
      }

      .artist_wrapper {
        position: relative;
        grid-column: 1/2;
        height: 90vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;

        .elementcontainer {
          overflow-y: scroll;
          height: 90vh;
        }
      }

      .box_right {
        position: relative;
        grid-column: 2/3;
        height: 90vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;

        .box {
          width: 100vw;
        }
      }
    }

    #ticket {
      top: 100vh;
      width: 200vw;
      height: 90vh;
      margin-top: 10vh;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: saturate(180%) blur(10px);
      display: grid;
      grid-template-columns: 100vw 100vw;
      grid-template-rows: 100vh 100vh;

      .theading_wrapper {
        visibility: collapse;
      }

      .tbutton_wrapper {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5rem;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .summery {
        visibility: collapse;

        .summery_overview {
          display: flex;
          justify-content: space-between;
        }
      }

      #ticket_flow1 {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100vw;
        height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;

        #status {
          display: flex;
          gap: 2rem;
          justify-content: center;
          align-items: center;
          background-color: #ff006a;
          width: 100vw;
          height: 15vh;
        }

        .heading {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          margin-top: 3rem;
          margin-bottom: 6rem;
        }

        .camping_section {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-bottom: 4rem;

          .areas {
            gap: 0.5rem;
            display: flex;
            flex-direction: column;
          }
        }

        .form_wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;

          .ticket_section {
            display: flex;
            flex-direction: column;
            align-items: center;

            .v-counter {
              display: flex;
              justify-content: space-between;

              .plusBtn,
              .minusBtn {
                background-color: #ff006a;
                border: none;
                color: white;
                width: 5rem;
                height: 5rem;
                border-radius: 0% 50% 50% 0%;
              }

              .plusBtn {
                border-radius: 0% 50% 50% 0%;
              }

              .minusBtn {
                border-radius: 50% 0% 0% 50%;
              }

              .count {
                color: white;
                padding: 1rem;
                background-color: #ff006a7f;
                border: 1px solid #ff006a;
                box-shadow: none;
                width: 5rem;
                padding-left: 4.5rem;
                font-size: 2rem;
              }
            }
          }

          .button {
            border: none;
          }
        }
      }

      #ticket_flow2 {
        position: relative;
        width: 100vw;
        height: 90vh;
        grid-column: 2/3;
        grid-row: 2/3;

        .t_wrapper {
          position: relative;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 90vh;

          #status {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            background-color: #ff006a;
            width: 100vw;
            height: 15vh;
          }

          .flow2_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5rem;
            margin-top: 3rem;

            #cardContainer {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100vw;
              gap: 3rem;

              fieldset {
                border: 0;
                height: fit-content;
                width: 80vw;

                div {
                  margin-bottom: 0.5rem;
                }

                span {
                  display: grid;
                  justify-content: end;
                  margin-top: 0.5rem;
                }

                input {
                  color: white;
                  width: 80vw;
                  background-color: transparent;
                  border: none;
                  border-bottom: 1px solid white;
                  box-shadow: none;
                  border-radius: 0;
                }
              }
            }
          }
        }
      }

      #ticket_flow3 {
        position: relative;
        width: 100vw;
        height: 90vh;
        grid-column: 2/3;
        grid-row: 2/3;

        .t_wrapper {
          position: relative;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 90vh;
          display: flex;
          flex-direction: column;
          align-items: center;

          #status {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            background-color: #ff006a;
            width: 100vw;
            height: 15vh;
          }

          .flow3_wrapper {
            margin-top: 3rem;

            .form_one {
              display: flex;
              flex-direction: column;
              margin-top: 3rem;
              align-items: center;

              .form {
                fieldset {
                  border: 0;
                  height: fit-content;
                  width: 80vw;

                  div {
                    margin-bottom: 0.5rem;
                  }

                  span {
                    display: grid;
                    justify-content: end;
                    margin-top: 0.5rem;
                  }

                  input {
                    color: white;
                    width: 80vw;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    box-shadow: none;
                    border-radius: 0;
                  }
                }
              }
            }

            .form_two {
              display: flex;
              flex-direction: column;
              margin-top: 3rem;
              align-items: center;

              .form {
                fieldset {
                  border: 0;
                  height: fit-content;
                  width: 80vw;

                  div {
                    margin-bottom: 0.5rem;
                  }

                  span {
                    display: grid;
                    justify-content: end;
                    margin-top: 0.5rem;
                  }

                  input {
                    color: white;
                    width: 80vw;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    box-shadow: none;
                    border-radius: 0;
                  }
                }
              }
            }
          }
        }
      }

      #ticket_flow4 {
        position: relative;
        width: 100vw;
        height: 90vh;
        grid-column: 2/3;
        grid-row: 2/3;

        .t_wrapper {
          position: relative;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 90vh;

          #status {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            background-color: #ff006a;
            width: 100vw;
            height: 15vh;
          }

          .purchase_result {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
        }
      }
    }

    .active_left {
      transform: translate(-100vw, -100vh);
      transition: all 0.5s ease-in;
    }

    .active_right_desktop {
      transform: translateX(100vw);
      transition: all 0.5s ease-in;
    }

    .active_up {
      transform: translateY(-100vh);
      transition: all 0.5s ease-in;
    }

    .active_up1 {
      transform: translateY(-200vh);
      transition: all 0.5s ease-in;
    }

    .active {
      transform: translate(-100vw, -100vh);
      transition: all 0.5s ease-in;
    }

    .active_down {
      transform: translate(100vw, 100vh);
      transition: all 0.5s ease-in;
    }

    .ticket_up {
      transform: translateY(-200vh);
      transition: all 0.5s ease-in;
    }

    .ticket_up_2 {
      transform: translate(-100vw, -200vh);
      transition: all 0.5s ease-in;
    }
  }
}

@media (min-width: 1000px) {
  #animation_background {
    #index {
      #frontpage {
        margin-left: 5rem;

        .front_buttons {
          flex-direction: row;
        }
      }

      #program {
        grid-template-columns: 50vw 50vw 50vw;

        .pheading_wrapper {
          grid-column: 1/2;
          background-color: black;
          visibility: visible;
          display: flex;
          align-items: center;
          padding-left: 5rem;
        }

        .artist_wrapper {
          grid-column: 2/3;
          width: 50vw;
        }

        .box_right {
          grid-column: 3/4;
          width: 50vw;
        }
      }

      #contact_page {
        #test {
          display: grid;
          grid-template-columns: 15vw auto 15vw;
        }
      }

      #ticket {
        grid-template-columns: 50vw 50vw 100vw;
        grid-template-rows: 100vh 100vh 100vh;

        .theading_wrapper {
          grid-column: 1/2;
          grid-row: 1/2;
          background-color: black;
          height: 90vh;
          visibility: visible;
          display: flex;
          align-items: center;
          padding-left: 5rem;
        }

        .tbutton_wrapper {
          grid-column: 2/3;
          height: 90vh;
          width: 50vw;
        }

        .summery {
          visibility: visible;
          position: absolute;
          left: 170vw;
          background-color: red;
          z-index: 100;
          height: 90vh;
          width: 30vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 3rem;
        }

        #ticket_flow1 {
          grid-column: 3/4;
          grid-row: 1/2;
          width: 70vw;

          #status {
            width: 70vw;
          }

          .heading {
            margin-bottom: 2rem;
          }
        }

        #ticket_flow2 {
          grid-column: 3/4;
          width: 70vw;

          .t_wrapper {
            #status {
              width: 70vw;
            }

            .flow2_wrapper {
              #cardContainer {
                width: 70vw;

                fieldset {
                  width: 40vw;

                  input {
                    width: 40vw;
                  }
                }
              }
            }
          }
        }

        #ticket_flow3 {
          grid-column: 3/4;
          width: 70vw;

          .t_wrapper {
            #status {
              width: 70vw;
            }

            .flow3_wrapper {
              margin-top: 3rem;

              .form_one {
                .form {
                  fieldset {
                    width: 40vw;

                    input {
                      width: 40vw;
                    }
                  }
                }
              }

              .form_two {
                fieldset {
                  width: 40vw;

                  input {
                    width: 40vw;
                  }
                }
              }
            }
          }
        }
      }

      .active_left {
        transform: translate(-50vw, -100vh);
        transition: all 0.5s ease-in;
      }
    }
  }
}
