#lineup {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  section {
    width: 50%;
    height: 100vh;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .acts {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    top: 100%;
    left: 50%;
    position: absolute;
    transition: translate 250ms;

    .artist {
      padding-top: 60rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  #info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    transition: translate 250ms;
    left: 100%;
  }

  .card {
    width: 50vw;
    height: 100vh;
    line-height: 3vw;
    text-align: center;
    background-color: white;
    margin-bottom: 2rem;
    top: 0;
  }
}

.elementcontainer {
  color: white;
  display: flex;
  flex-flow: wrap;
  overflow-y: scroll;
  padding: 2rem;
  color: white;
}

.active_right {
  transform: translateX(-50vw);
}

.active_up {
  transform: translateY(-100vh);
}

.main_menu {
  display: block;
}

#info img {
  width: 60%;
}
