#lineup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;

  section {
    width: 50%;
    height: 100vh;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .acts {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .artist {
      padding-top: 60rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  #info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .card {
    width: 50vw;
    height: 50vh;
    line-height: 30vw;
    text-align: center;
    background-color: white;
    margin-bottom: 2rem;
  }
}
