#schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .days {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      background-color: aqua;
      width: 100%;
      height: 7.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
