#ticket_flow1,
#ticket_flow2 {
  background-color: hotpink;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 70% auto;
  grid-gap: 5rem;
  height: 100%;
}
#ticket_flow2 {
  top: 100%;
}

.summery {
  margin: 2rem;
}

.summery_overview {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
}

.areas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.input-group button {
  width: 5rem;
}

.v-counter {
  border-radius: 32px;
  max-width: 89px;
  overflow: auto;
  padding: 0px 4px;
  border: 1px solid #323140;
  margin: 10px;
}

.v-counter input[type="button"]:hover {
  color: black;
  font-weight: bold;
  background-color: transparent;
}
.v-counter span {
  font-size: 13px;
  color: black;
  font-family: "Open Sans";
}
.v-counter input[type="button"],
input[type="text"] {
  display: inline-block;
  width: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  color: black;
  height: 33px;
  font-family: "Open Sans";
}

.hide {
  display: none;
}
