.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 7rem;

  color: white;
  // background: linear-gradient(#2104d9, #ff006a);
  background-color: #ff006a;
}
