.wrap {
  width: 100%;

  .gradient-text {
    background: linear-gradient(to right, #2104d9, #ff006a);
    background-size: 200% 200%;
    animation: rainbow 1s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;

    width: 100%;

    display: block;
    text-align: center;
    transition: color 0.2s ease-in-out;
    text-transform: uppercase;
  }
  .gradient-text:hover {
    color: rgba(0, 0, 0, 0);
  }

  @keyframes rainbow {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
}
