.marquee {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.524);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  overflow-x: hidden;

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }
}

@media (min-width: 1000px) {
  .marquee {
    height: 7rem;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
