$black: #000000;
$blue: #1bf2f2;
$peach: #ef1df2;
$pink: #fceaee;
$white: #fcf9f9;

body {
  background-color: $black;
}

h1 {
  color: $white;
}

#index {
  a {
    color: black;
    -webkit-text-stroke: 1px $peach;
    text-shadow: 0px 0px 7px $peach;
  }
}

#lineup {
  h2 {
    color: black;
    -webkit-text-stroke: 1px $peach;
    text-shadow: 0px 0px 7px $peach;
  }

  h3 {
    color: $white;
  }
}

#ticket {
  h2 {
    color: black;
    -webkit-text-stroke: 1px $blue;
    text-shadow: 0px 0px 7px $blue;
  }
}
