$black: #000000;
$blue: #1bf2f2;
$pink: #ef1df2;
$white: #fcf9f9;

body {
  background-color: $black;
  color: $white;
}

header {
  background-color: $white;
}

h1,
h3 {
  color: $white;
}

p {
  color: $white;
}

a {
  color: $pink;
}

#index {
  a {
    color: black;
    -webkit-text-stroke: 1px $pink;
    text-shadow: 0px 0px 7px $pink;
  }
}
