$black: #000000;
$blue: #3048f8;
$peach: #ef1df2;
$pink: #fceaee;
$white: #fcf9f9;

body {
  background-color: $black;
}

h1 {
  color: $white;
}

h2 {
  color: transparent;
  -webkit-text-stroke: 1px $peach;
}

h3 {
  color: $white;
}
