h1 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 7rem;
  margin-bottom: 3rem;
}

h2 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6rem;
}

h3 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
}

p {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1rem;
}

a {
  font-family: azo-sans-web, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  font-size: 4rem;
  cursor: pointer;
}

#index {
  a {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 6rem;
    margin-left: 8rem;
    text-decoration: none;
  }
}

#lineup {
  a {
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
  }
}
