h1 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 7rem;
}

h2 {
  font-family: azo-sans-web, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
}

p {
  font-family: azo-sans-web, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
}

a {
  font-family: azo-sans-web, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;

  letter-spacing: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

#app_schedule a {
  font-size: 1rem;
}

#app_frontpage h1 {
  letter-spacing: 0.5rem;
}

.elementcontainer h2 {
  cursor: pointer;
}
